# 1 Recherche des titres de livres dans les descriptions de vidéos youtube

In [40]:
#On importe la bibliothèque pandas
import pandas as pd
import matplotlib.pyplot as plt

def livre_dans_video(livre,youtube):
    #On charge les tables dont on a besoin",
    books_data = pd.read_csv(f"{livre}.csv", encoding="utf-8")
    youtube_data = pd.read_csv(f"{youtube}.csv", encoding="utf-8")
    print("Livres de la base de données "f'{livre}.csv'" dans la description youtube de vidéos de la base de données "f'{youtube}.csv')
    # On convertie la colonne 'description' en type string
    youtube_data['description'] = youtube_data['description'].astype(str)
    # On initialise une nouvelle liste pour stocker les résultats
    result = []
    # On itére sur chaque liste de la colonne 'Titre' de books_data
    for index1, row1 in books_data.iterrows():
        count_list = []  # Liste pour stocker les résultats de cette ligne
        # On itére sur chaque liste de la colonne 'Description' de youtube_data
        for index2, row2 in youtube_data.iterrows():
            # On vérifie si la liste de books_data (row1['Titre']) est une sous-liste de la liste de books_data (row2['Description'])
            if row1['Titre'] in row2['description']:
                count_list.append(1)  # Si elle est incluse, compter une occurrence
            else:
                count_list.append(0)  # Sinon, aucune occurrence
        # On ajoute la liste des Titres de books_data et la somme des occurrences
        result.append([row1['Titre'], row1['Auteur'], sum(count_list)])
    # On crée la nouvelle DataFrame contenant les résultats
    colonnes=['Titres','Auteurs','Occurrences dans les vidéos']
    result_df = pd.DataFrame(result, columns = colonnes )
    # On filtre les lignes où 'Occurrences dans les vidéos' est différente de 0 (On ne s'intéresse qu'aux livres cités au moins une fois)
    filtered_df = result_df[result_df['Occurrences dans les vidéos'] != 0]
    # On affiche le DataFrame filtré
    return filtered_df

## 1.1 Recherche des titres de livre dans la base de données youtube_livre_2019_2023.csv

### 1.1.1 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

In [31]:
livre_dans_video('23 livres les plus lus Babelio','youtube_livre_2019_2023')

Livres de la base de données 23 livres les plus lus Babelio.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

Empty DataFrame
Columns: [Titres, Auteurs, Occurrences dans les vidéos]
Index: []

Il n'y a aucun livre de cette base de données mentionné.

### 1.1.2 Recherche des titres de livre de la base de données babelio_top_23.csv

In [38]:
livre_dans_video('babelio_top_23','youtube_livre_2019_2023')

Livres de la base de données babelio_top_23.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

Empty DataFrame
Columns: [Titres, Auteurs, Occurrences dans les vidéos]
Index: []

Il n'y a aucun livre de cette base de données mentionné.

### 1.1.3 Recherche des titres de livre de la base de données best_sellers_fnac_2023_cleaned.csv

In [37]:
livre_dans_video('best_sellers_fnac_2023_cleaned','youtube_livre_2019_2023')

Livres de la base de données best_sellers_fnac_2023_cleaned.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

Empty DataFrame
Columns: [Titres, Auteurs, Occurrences dans les vidéos]
Index: []

Il n'y a aucun livre de cette base de données mentionné.

### 1.1.4 Recherche des titres de livre de la base de données bibli.csv

In [36]:
livre_dans_video('bibli','youtube_livre_2019_2023')

Livres de la base de données bibli.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

KeyError: 'Titre'

Il n'y a aucun livre de cette base de données mentionné.

### 1.1.5 Recherche des titres de livre de la base de données books.csv

In [35]:
livre_dans_video('books','youtube_livre_2019_2023')

ParserError: Error tokenizing data. C error: Expected 12 fields in line 3350, saw 13

### 1.1.6 Recherche des titres de livre de la base de données Les livres les plus empruntés à Paris.csv

In [34]:
livre_dans_video('Les livres les plus empruntés à Paris','youtube_livre_2019_2023')

Livres de la base de données Les livres les plus empruntés à Paris.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

KeyError: 'Titre'

Il n'y a aucun livre de cette base de données mentionné.

### 1.1.7 Recherche des titres de livre de la base de données livraddict_prix_2024.csv

In [33]:
livre_dans_video('livraddict_prix_2024','youtube_livre_2019_2023')

Livres de la base de données livraddict_prix_2024.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

   Titres      Auteurs  Occurrences dans les vidéos
49  Babel  R. F. Kuang                            1

Le livre *Babel* de R. F. Kuang est cité dans une description de vidéo youtube.

### 1.1.8 Recherche des titres de livre de la base de données prix_litteraires.csv

In [32]:
livre_dans_video('prix_litteraires','youtube_livre_2019_2023')

Livres de la base de données prix_litteraires.csv dans la description youtube de vidéos de la base de données youtube_livre_2019_2023.csv

        Titres         Auteurs  Occurrences dans les vidéos
34  À la ligne  Joseph Ponthus                            1

Le livre *À la ligne* de Joseph Ponthus est cité dans une description de vidéo youtube.

## 1.2 Recherche des titres de livre dans la base de données youtube_nouveauté_livre_2023.csv

### 1.2.1 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

In [39]:
livre_dans_video('23 livres les plus lus Babelio','youtube_nouveauté_livre_2023')

Livres de la base de données 23 livres les plus lus Babelio.csv dans la description youtube de vidéos de la base de données youtube_nouveauté_livre_2023.csv

                    Titres               Auteurs  Occurrences dans les vidéos
7   Trois vies par semaine          Michel Bussi                            1
21        Veiller sur elle  Jean-Baptiste Andrea                            1

### 1.2.2 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

### 1.2.3 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

### 1.2.4 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

### 1.2.5 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

### 1.2.6 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

### 1.2.7 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

### 1.2.8 Recherche des titres de livre de la base de données 23 livres les plus lus Babelio.csv

In [24]:
#On importe la bibliothèque pandas
import pandas as pd
import matplotlib.pyplot as plt

def auteur_dans_video(livre,youtube):
    #On charge les tables dont on a besoin",
    books_data = pd.read_csv(f"{livre}.csv", encoding="utf-8")
    youtube_data = pd.read_csv(f"{youtube}.csv", encoding="utf-8")
    print("Apparitions d'auteurs de")
    print(f'{livre}.csv')
    print("dans la description youtube de vidéos de")
    print(f'{youtube}.csv')
    # On convertie la colonne 'description' en type string
    youtube_data['description'] = youtube_data['description'].astype(str)
    # On initialise une nouvelle liste pour stocker les résultats
    result = []
    # On itére sur chaque liste de la colonne 'Auteur' de books_data
    for index1, row1 in books_data.iterrows():
        count_list = []  # Liste pour stocker les résultats de cette ligne
        # On itére sur chaque liste de la colonne 'Description' de youtube_data
        for index2, row2 in youtube_data.iterrows():
            # On vérifie si la liste de books_data (row1['Auteur']) est une sous-liste de la liste de books_data (row2['Description'])
            if row1['Auteur'] in row2['description']:
                count_list.append(1)  # Si elle est incluse, compter une occurrence
            else:
                count_list.append(0)  # Sinon, aucune occurrence
        # On ajoute la liste des Titres de books_data et la somme des occurrences
        result.append([row1['Auteur'], sum(count_list)])
    # On crée la nouvelle DataFrame contenant les résultats
    colonnes=['Auteurs', 'Occurrences dans les vidéos']
    result_df = pd.DataFrame(result, columns = colonnes )
    # On filtre les lignes où 'Occurrences dans les vidéos' est différente de 0 (On ne s'intéresse qu'aux livres cités au moins une fois)
    filtered_df = result_df[result_df['Occurrences dans les vidéos'] != 0]
    # On affiche le DataFrame filtré
    return filtered_df

auteur_dans_video('livraddict_prix_2024','youtube_nouveauté_livre_2023')

Apparitions d'auteurs de
livraddict_prix_2024.csv
dans la description youtube de vidéos de
youtube_nouveauté_livre_2023.csv

              Auteurs  Occurrences dans les vidéos
13  Virginie Grimaldi                            1